.wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
