.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;

  .title {
    position: absolute;
    color: white;
    top: 0;
  }

  .wrapper-avatar {
    display: flex;
    align-items: center;
  }

  .wrapper-music {
    position: absolute;
    bottom: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
